*.class
*.classpath
*.project
target
.settings
client/client.jar
server/server.jar
server/bots/*
*.REP
server/winpercentage.txt
server/results.txt
server/games.txt
server/html/*.html
server/html/*.txt